    <hr>

    <!-- Footer contains team links -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <ul class="list-inline btn-group">
              <li><a href="https://www.twitch.tv/teamtalima/" target="_blank"><i class="fab fa-twitch fa-3x"></i></a></li>
              <li><a href="https://twitter.com/TalimaVale" target="_blank"><i class="fab fa-twitter fa-3x"></i></a></li>
              <li><a href="https://www.instagram.com/talimavale/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a></li>
              <li><a href="https://discord.gg/dGFQ5tE" target="_blank"><i class="fab fa-discord fa-3x"></i></a></li>
            </ul>
          </div>

          <div class="col-sm-4">
              <p class="text-center">Built with <i class="fas fa-heart"></i> by <a href="https://discord.gg/dGFQ5tE" target="_blank">teamTALIMA</a></p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Links to our js, from /src/public and /node_modules (paths set in srcServer.js) -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
