<%- include('header') %>

<div class="container main">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">

          <!-- MAIN : SIGN UP FORM -->
          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              Sign Up! Or <a href='/auth/logIn'>Log In</a>
              <form name="signUpForm" action="/auth/signUp" method="post">
                Username: <input name="username" id="username" type="text" placeholder="username"/><br/>
                Password: <input name="password" id="password" type="password" placeholder="password"/><br/>
                <input type="submit" value="Sign up" />
              </form>
            </div>
          </div>

          <hr>
        </div>
      </div>
    </div><!--/col-12-->
  </div>
</div>

<%- include('footer') %>
